<style>
table {
   border-collapse: collapse;
   margin: 9px;
}
td {
   border-style: solid;
   border-width: thin;
}
td,
th {
   padding-bottom: 9px;
   padding-left: 9px;
   padding-right: 9px;
   padding-top: 9px;
}
</style>
<table>
<tr>
   <th>bandwidth</th>
   <th>height</th>
   <th>width</th>
   <th>ID</th>
   <th>type</th>
   <th>period ID</th>
   <th>codecs</th>
   <th>language</th>
</tr>
{{ range $period := .Period }}
   {{ range $adaptation := .AdaptationSet }}
      {{ range .Representation }}
<tr>
   <td>{{ .Bandwidth }}</td>
   <td>{{ .Height }}</td>
   <td>{{ .Width }}</td>
   <td>{{ .ID }}</td>
         {{ if .MimeType }}
   <td>{{ .MimeType }}</td>
         {{ else }}
   <td>{{ $adaptation.MimeType }}</td>
         {{ end }}
   <td>{{ $period.ID }}</td>
         {{ if .Codecs }}
   <td>{{ .Codecs }}</td>
         {{ else }}
   <td>{{ $adaptation.Codecs }}</td>
         {{ end }}
   <td>{{ $adaptation.Lang }}</td>
</tr>
      {{ end }}
   {{ end }}
{{ end }}
</table>
